# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.yarn
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.eslintcache
/.vscode

# Client-specific assets and data
/src/assets/images/widget
/src/assets/images/logo.svg
/src/data
/src/views/dashboard/chart
/src/views/ui-elements/basic/BasicTypography.jsx
/src/views/ui-elements/basic/BasicColor.jsx
/src/views/ui-elements/icons/Feather.jsx
/src/views/ui-elements/icons/Material.jsx
/src/views/sample
/src/views/ui-elements/icons/data
